
.hero-img2{
    width: 100%;
    background: rgba(0,0,0, 0.5);
    height: 90vh;
    position: relative;
}
.hero-img2::before{
    content: "";
    background: url("../assests/my2.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img2 h1{
    font-size: 2.4rem;

}
.hero-img2 p{
    font-size: 1.4rem;
    text-align: center;

}

@media screen and (max-width:640px) {
    .hero-img2 h1{
        font-size: 2rem;
    }
    .hero-img2{
        height: 50vh;
    }
}
