.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-bg{
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
    
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1rem;
    text-decoration: none;
    list-style-type: none;
}
.nav-menu li Link{
    text-decoration: none;
}
